{{ AD_DOMAINSERVER_IP }} windows-domain-controller.{{ AD_DOMAIN_NAME }} windows-domain-controller
172.16.2.51 centos-client-sssd.{{ AD_DOMAIN_NAME }} centos-client-sssd
172.16.2.52 centos-client-winbind.{{ AD_DOMAIN_NAME }} centos-client-winbind
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
