#======================= Global Settings =====================================

[global]

# ----------------------- Network-Related Options -------------------------
#
# workgroup = the Windows NT domain name or workgroup name, for example, MYGROUP.
#
# server string = the equivalent of the Windows NT Description field.
#

	workgroup = {{ AD_WORKGROUP_NAME }}
	server string = Samba Server Version %v

# --------------------------- Logging Options -----------------------------
#
# log file = specify where log files are written to and how they are split.
#
# max log size = specify the maximum size log files are allowed to reach. Log
# files are rotated when they reach the size specified with "max log size".
#

	log level = 5
	log file = /var/log/samba/log.%m
	max log size = 50

# ----------------------- Domain Members Options ------------------------
#
# security = must be set to domain or ads.
#
# realm = only use the realm option when the "security = ads" option is set.
# The realm option specifies the Active Directory realm the host is a part of.
#

	security = ads
	realm = {{ AD_DOMAIN_NAME }}

  # Default ID mapping configuration for local BUILTIN accounts
  # and groups on a domain member.
	idmap config * : backend = tdb
	idmap config * : range = 3000-7999

  # config for the domain
	idmap config {{ AD_WORKGROUP_NAME }} : backend = rid
	idmap config {{ AD_WORKGROUP_NAME }} : range = 10000-999999

  # Template settings for login shell and home directory
	winbind nss info = template

	# allow enumeration of winbind users and groups
	winbind enum users = Yes
	winbind enum groups = Yes
	winbind use default domain = Yes
	winbind expand groups = 1

	template shell = /bin/bash
	template homedir = /home/%U

  # Mapping the Domain Administrator Account to the local root user
	username map = {{ smbd_map_file }}
